.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.email {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
